* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: slategrey;
}

#content {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

#maze_container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 1px solid black;
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.cell {
    width: 16px;
    height: 16px;
    background-color: red;
}

.cell:hover {
    cursor: pointer;
    border: 1px solid black;
    opacity: 80%;
}

.cell.wall {
    background-color: black;
}

.cell.empty {
    background-color: white;
}

.cell.end {
    background-color: red;
}

.cell.start {
    background-color: green;
}
